<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Lol</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">

        <script href="{{ asset('js/bootstrap.min.js') }}"></script>
    </head>
    <body>
        {# Navbar #}
       <nav class="navbar  navbar-dark bg-dark">
            <div class="container-fluid col-3">
                <a class="navbar-brand" href="/">Navbar</a>
            </div>
            <div class="container-fluid col-9 pr-1 d-flex justify-content-center 2">
                <a class="navbar-brand px-2" href="/services">Services</a>
                <a class="navbar-brand px-2" href="/devis">Devis en Ligne</a>
                <a class="navbar-brand px-2" href="/">Contact</a>
                <a class="navbar-brand px-2" href="/">Espace Client</a>
                <a class="navbar-brand px-2" href="/">A Propos</a>

            </div>
        </nav>
        <pre></pre>
    </body>
</html>
